#a3{
  background: #eee;
  overflow:visible;
  
  display:block;
  width: 100%;
}

root{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
}
#bar3_div{
  margin : 200px;
  padding : 100px;
  border: groove;
  background-color: #eee;
}
.b3{
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}